#blog{
    font-size: 40px;
    padding-left: 20px;
}

.nav-link{
    font-size: 20px;
}

h1 {
    color: #932ab6;
}

h2, .validate{
    color:#40154e;
}

form {
    display: inline;
}

input[type=image] {
    height: 100px;
    width: 100px;
}

.noValidate {
    color: red;
    font-weight: bold;
}

#compte{
    color: white !important;
    font-weight: 100 bold;
}

#logoAdmin{
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#civilStatus{
    text-align: center;
    padding-top: 50px;
}

#contactForm{
    padding-top: 50px;
    border: 5px solid;
}

#finalWord{
    background-color: blueviolet;
    padding: 10px;
    border-radius: 10px;
    color: white;
}